<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240002467684-a61srekk0oac6qrm2so4o249q4beua2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240002467684-a61srekk0oac6qrm2so4o249q4beua2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDNdpechX6igI0vtwc7isAGb8bza2CWUFY</string>
	<key>GCM_SENDER_ID</key>
	<string>240002467684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nabidreams.media.AudioExample</string>
	<key>PROJECT_ID</key>
	<string>react-native-audio</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-audio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240002467684:ios:92aaed26e8f6c347775c71</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-audio.firebaseio.com</string>
</dict>
</plist>